@use './partials/variables' as *;

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $netflix-bg;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}

//classes
.container{
    padding: 0 4%;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}